In [21]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:docker@localhost:5432/postgres')

In [22]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [34]:
df.to_sql('users', con=engine, index=False)

In [35]:
engine.execute("SELECT * FROM users").fetchall()

[('User 1',), ('User 2',), ('User 3',)]

In [18]:
countries_df = pd.read_csv('data/Country-Locations-en.csv')
countries_df[countries_df['is_in_european_union'] == 1].head()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,is_in_european_union
6,146669,en,EU,Europe,CY,Cyprus,1
29,390903,en,EU,Europe,GR,Greece,1
31,453733,en,EU,Europe,EE,Estonia,1
32,458258,en,EU,Europe,LV,Latvia,1
34,597427,en,EU,Europe,LT,Republic of Lithuania,1

In [19]:
cities_df = pd.read_csv('data/City-Locations-en.csv')
cities_df[cities_df['city_name'].notnull()].head()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
1,49747,en,AF,Africa,SO,Somalia,BK,Bakool,NaN,NaN,Oddur,NaN,Africa/Mogadishu,0
3,53654,en,AF,Africa,SO,Somalia,BN,Banaadir,NaN,NaN,Mogadishu,NaN,Africa/Mogadishu,0
4,54225,en,AF,Africa,SO,Somalia,SH,Lower Shabeelle,NaN,NaN,Merca,NaN,Africa/Mogadishu,0
5,57289,en,AF,Africa,SO,Somalia,WO,Woqooyi Galbeed,NaN,NaN,Hargeisa,NaN,Africa/Mogadishu,0
6,58994,en,AF,Africa,SO,Somalia,GE,Gedo,NaN,NaN,Garbahaarrey,NaN,Africa/Mogadishu,0

In [38]:
def save_countries_to_db():
    countries_df = pd.read_csv('data/Country-Locations-en.csv')
    countries_df.to_sql('Country', con=engine, index=False)

def save_cities_to_db():
    cities_df = pd.read_csv('data/City-Locations-en.csv')
    cities_df = cities_df[cities_df['city_name'].notnull()]
    cities_df.to_sql('City', con=engine, index=False)
    
def initDB():
    save_countries_to_db()
    save_cities_to_db()

In [39]:
save_cities_to_db()